h1{
    margin: 2rem;
    padding: 1rem;
}

.badge{
    position: relative ;
    top: -15px;
    font-size: 2em  ;
}
.badge-head{
    margin: 3rem;
    position: relative;
    font-size: 3em;
    /* text-align: center; */
}
.badge-head.btn{
    background-color: blue;
    /* margin: 1rem; */
    border-radius: 20%;
    cursor: pointer;
}

.badge-head.btn:hover{
    background-color:chartreuse;
}

.badge2{
    position: absolute ;
    top: -80%;
    /* bottom: 20px; */
    left: 50%;
    right: -40%;
    color:red;    
}