body{
    margin: 0 auto;
    box-sizing: border-box;
}

.container{
    position: relative;
    /* width: 200px; */

}

.card{
    position: relative;
    width: 200px;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
}

.toast{
    position: fixed;
    top: 80%;
    left: 0;
    /* z-index: 2; */
}

.toast{
    border: 1px solid black;
    margin: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    background-color: darkcyan;
    color: aquamarine;
    cursor: pointer;
    width: 500px;
    text-align: center;

}

.link{
    position: absolute;
    right: 5%;
    cursor: pointer;
}