body{
    margin: 0 auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between  ;
    /* margin-left: 1rem; */
    background-color: chartreuse;
    font-weight: bolder;
    padding: 1rem;
    cursor: pointer;
    /* align-items: center; */
    /* using wrap in header component help to resisze responsive.  */
    /* flex-wrap: wrap; */
}


.list{
        /* margin-left: auto;  will automatically adjust acc to space*/
        display: flex;
        text-decoration: none;
        list-style: none;
        gap:30px;
        margin-right: 2rem;
        /* line-height: 10px; */
        position: relative;
}


.list .img {
    position: absolute ;
    top: -10px;
    right: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: pink;
    /* line-height: 20px; */
  }
  
  a {
    color: darkblue;
    text-decoration: none;
  }
  