body{
    margin: 0 auto;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

h1{
    font-size: xx-large;
    font-weight: bold;
}

.container{
    position: relative;
    border: 1px solid black;
    width: 450px;
    margin: 1rem;
    padding: 1rem;
    background-color: darkkhaki;
    color: ivory;
}

span{
    margin-left: auto;
    position: absolute;
    right: 15px;
    top: 10px;
    /* left: -5px; */
    cursor: pointer;
    flex-shrink: 1;
}

.btn{
    /* bottom: 10px;     */
    border-radius: 20%;
    padding: 0.5rem;
    background-color: orange;
    color: aliceblue;
    cursor: pointer;
}

.btn-1{
    position: relative;
    top: 0%;
    left: 82%;
    margin-right: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.btn:hover{
    background-color: yellow;
    -o-animation-play-state: running;
}