body{
    margin: 0 auto;
    box-sizing: border-box;
}
.search-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem auto;
    padding-left: auto;
    max-width: 950px;
    gap: 10px;
    /* align-items: center; */
}
.search{
    padding: 0.5rem;
    height: 5vh;    
    border-radius:2rem;
    width: 70%;
    flex-shrink:1;
    font-size: larger;
    margin-left: 1rem;
    text-align: center;
}

.btn{
    line-height: 20px;
    padding: 0.5rem;
    /* height: 7vh; */
    border-radius:2rem;
    width: 10%;
    cursor: pointer;
    text-align: center;
    background-color: darkturquoise;
    flex-wrap: wrap;
    word-break: break-word;
    /* flex-shrink:1; */

}