body {
    font-family: sans-serif;
    margin: 0 auto;
  }
  
  .container {
    background-color: darkorange;
    margin: 2rem;
    display: flex;
    width: 500px;
  }
  
  .child {
    box-sizing: border-box;
    padding: 24px;
    text-align: center;
    border: 2px solid;
    /* width: 100px; */
  }
  
  .child:nth-child(1) {
    background-color: pink; /* width: 82px*/
    /* flex-grow: 2; */
  }
  
  .child:nth-child(2) {
    background-color: lightgreen; /* width: 63px */
    /* flex-grow: 1; */
  }
  
  .child:nth-child(3) {
    background-color: lightblue; /* width: 122px*/
    flex-shrink: 1;
  
    flex-basis: 40%;  /*It takes the percentage width of the available space.  */
  }
  
  /*  
  
  flex grow doesn't make items equal in width
  
  ((grow value/total grow value) * available space) + original width
  
  flex-grow = 1
  (1/1 * 223 (82+63+122 = 267- 500 = 233) +82 )  => final value is 233+82 = 315 width will apply

  flex-grow = 2
  (1/1 * 223 (82+63+122 = 267- 500 = 233) +82 )  

  */
  